body {
  overflow: hidden;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Fl button {
    width: 80px;
    height: 50px;
    border: hidden;
}

.rl .hide div {
    background-color: lightgray;
    width: 500px;
    max-height: 600px;
    overflow-y: scroll;
}